@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */

@layer base {
  h1, h2, h3, h4, h5 {
    @apply font-sans;
  }
}

/* OTHERS */

html {
  scroll-behavior: smooth;
}

/* bg-neutral-800
  @apply bg-slate-800
*/
body {
  @apply bg-slate-900;
  @apply text-slate-400;
}

.extra-small {
  font-size: 0.50rem;
}

/* TOOLTIP */
.trigger {
  position: absolute;
  opacity: 1;
  transition: 0.1s;

}
.trigger-hidden {
  opacity: 0;
  visibility: hidden;
}
